<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.klcn.xuant.transporter">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-feature android:name="android.hardware.camera"
        android:required="false" />
    

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mvp.splashScreen.SplashScreenActivity"
            android:theme="@style/NoActionBar">

             <intent-filter>
             <action android:name="android.intent.action.MAIN" />
             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
        <activity
            android:name=".ChooseTypeUserActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".DriverHomeActivity"
            android:theme="@style/NoActionBarDriver" />
        <activity
            android:name=".DriverRatingsActivity"
            android:theme="@style/NoActionBarDriver" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DriverHomeActivity" />
        </activity>
        <activity
            android:name=".DriverEarningsActivity"
            android:theme="@style/NoActionBarDriver" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DriverHomeActivity" />
        </activity>
        <activity
            android:name=".DriverAccountActivity"
            android:theme="@style/NoActionBarDriver" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DriverHomeActivity" />
        </activity>
        <activity
            android:name=".CustomerCallActivity"
            android:theme="@style/NoActionBarDriver" />
        <activity
            android:name=".DriverRegisterActivity"
            android:theme="@style/NoActionBarDriver" />
        <activity
            android:name=".mvp.invitesDriver.DriverInvitesActivity"
            android:theme="@style/NoActionBarDriver" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DriverEarningsActivity" />
        </activity>
        <activity
            android:name=".mvp.tripHistoryDriver.DriverTripHistoryActivity"
            android:theme="@style/NoActionBarDriver" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DriverEarningsActivity" />
        </activity>
        <activity
            android:name=".mvp.feedbackDriver.DriverFeedBackActivity"
            android:theme="@style/NoActionBarDriver" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DriverRatingsActivity" />
        </activity>
        <activity
            android:name=".mvp.payStatementDriver.DriverPayStatementActivity"
            android:theme="@style/NoActionBarDriver" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DriverEarningsActivity" />
        </activity>
        <activity
            android:name=".DriverTrackingAcitivity"
            android:theme="@style/NoActionBarDriver">

             <!--<intent-filter>-->
             <!--<action android:name="android.intent.action.MAIN" />-->


             <!--<category android:name="android.intent.category.LAUNCHER" />-->
             <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".CustomerTrackingActivity"
            android:theme="@style/NoActionBar">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".DriverLoginActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".mvp.findDriver.CustomerFindDriverActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".CustomerRateActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".DriverConfirmBillActivity"
            android:theme="@style/NoActionBarDriver" />
        <activity android:name=".mvp.confirminfo.view.ConfirmInfoActivity" />
        <activity android:name=".mvp.verifypincode.view.VerifyPincodeActivity" />
        <activity android:name=".mvp.signup.view.CustomerSignUpActivity" />
        <activity
            android:name=".mvp.home.CustomerHomeActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".mvp.history.CustomerHistoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mvp.home.CustomerHomeActivity" />
        </activity>
        <activity android:name=".mvp.history.ItemHistoryActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".mvp.verifypincode.view.TestVerifyActivity" />

        <service android:name=".service.MyFirebaseIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.MyFirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.OnClearFromRecentService" android:stopWithTask="false" />
        <activity android:name=".mvp.profile.CustomerProfileActivity" />
        <activity android:name=".CancelBookActivity" />
        <activity android:name=".ChatActivity"></activity>
    </application>

</manifest>